 /* Footer Css */

 .footer {
    position: relative;
    background: url(https://cdn.pixabay.com/photo/2012/01/09/09/59/earth-11595_1280.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .footer:after {
    content: "";
    position: absolute;
    background: rgba(21, 22, 55, 0.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .footer .footer-top {
    padding-top: 40px;
    position: relative;
    z-index: 9;
  }
  .footer .footer-top .footer-about-content {
    max-width: 315px;
  }
  .footer .footer-bottom {
    position: relative;
    z-index: 9;
  }
  .footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    position: relative;
  }
  h2.footer-title:after {
    content: "";
    width: 39px;
    height: 2px;
    background: #ff3115;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .footer .footer-widget.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
  }
  .footer .footer-widget .footer-logo {
    margin-bottom: 15px;
  }
  .footer .footer-widget .footer-logo img {
    max-height: 50px;
    max-width: 100%;
  }
  .footer .footer-widget p {
    color: #fff;
  }
  .footer .footer-widget .footer-about-content p:last-child {
    margin-bottom: 0;
  }
  .footer .footer-menu ul li {
    margin-bottom: 10px;
    position: relative;
  }
  .footer .footer-menu ul li:last-child {
    margin-bottom: 0;
  }
  .footer .footer-menu ul li a {
    color: #fff;
    transition: all 0.4s ease 0s;
  }
  .footer .footer-menu ul li a i {
    margin-right: 5px;
  }
  .footer .footer-widget.footer-menu ul li a:hover {
    color: #fff;
    letter-spacing: 0.5px;
    padding-left: 10px;
  }
  .footer-contact-info {
    color: #fff;
  }
  .footer-contact-info .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-contact-info .footer-address span {
    margin-right: 20px;
  }
  .footer-contact-info .footer-address span i.fa-map-marker-alt {
    font-size: 20px;
  }
  .footer-contact-info p i {
    margin-right: 15px;
  }
  .footer .footer-bottom .copyright {
    padding: 40px 0;
  }
  .home-page .footer .footer-bottom .copyright {
    border-top: 1px solid #eceff0;
  }
  .footer .footer-bottom .copyright-text p {
    color: #fff;
  }
  .footer .footer-bottom .copyright-text p a {
    color: #09e5ab;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .footer .footer-bottom .copyright-text p a:hover {
    color: #fff;
  }
  .footer .footer-bottom .copyright-text p.title {
    font-weight: 400;
    margin: 10px 0 0;
  }
  .footer .social-icon ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer .social-icon ul li {
    margin-right: 15px;
  }
  .footer .social-icon ul li:last-child {
    margin-right: 0;
  }
  .footer .social-icon ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    transition: all 0.4s ease 0s;
    height: 26px;
    width: 26px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    padding: 4px;
  }
  .footer .social-icon ul li a:hover {
    color: #ff3115;
  }
  .footer-newsletter input {
    box-shadow: 0 4px 4px rgb(194 194 194/25%);
    border-radius: 200px !important;
    height: 43px;
    width: 100%;
    padding: 6px 15px;
    border: 0;
  }
  .footer-newsletter input:focus {
    outline: none;
  }
  .btn-newsletter {
    background: #ff3115;
    border-radius: 200px;
    position: absolute !important;
    height: 43px;
    right: 0;
    width: 83px;
    border: 0;
    top: 0;
  }